function gi() {
	curl http://www.gitignore.io/api/$@;
}

resest-mod-dir(){
	git checkout -- ` git ls-files -m -- "$*"`
}

function mkd() {
    mkdir -p -- "$@" && cd -- "$@"
}

# find shorthand
function f() {
    find . -name "$1"
}

# Copy w/ progress
cp_p () {
  rsync -WavP --human-readable --progress $1 $2
}

function please() {
	sudo $1
}

function app-install(){
	brew cask install $@ --appdir=/Applications --caskroom=/etc/Caskroom
}

function lol(){
	$@ | lolcat
}

function chrome(){
	open $@ --args --allow-file-access-from-files
}
