function gi() {
	curl http://www.gitignore.io/api/$@;
}

resest-mod-dir(){
	git checkout -- ` git ls-files -m -- "$*"`
}

function mkd() {
    mkdir -p -- "$@" && cd -- "$@"
}

# find shorthand
function f() {
    find . -name "$1"
}

# Copy w/ progress
cp_p () {
  rsync -WavP --human-readable --progress $1 $2
}

function please() {
	sudo $1
}

function app-install(){
	brew cask install $@ --appdir=/Applications --caskroom=/etc/Caskroom
}

function lol(){
	$@ | lolcat
}

function chrome(){
	open $@ --args --allow-file-access-from-files
}

# Go up N directories
# usage: up N
# taken from https://github.com/anishathalye/dotfiles/commit/c7256407e27263abc21bed2667a81373fa958d25#diff-1f7e07657816dcfba81e81892df0eac7R30
function up()
{
    if [[ "${1}" == "" ]]; then
        cd ..
    elif ! [[ "${1}" =~ ^[0-9]+$ ]]; then
        echo "Error: argument must be a number"
    elif ! [[ "${1}" -gt "0" ]]; then
        echo "Error: argument must be positive"
    else
        for i in {1..${1}}; do
            cd ..
        done
    fi
}
